<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title é uma tag para o nome da página  -->
    <title>Exercício Flask</title>
</head>
<body>
    <!-- h1 é uma tag de Título, p é uma tag de paragrafo e a ref é uma tag de link -->
    <h1>Fábrica de Programadores</h1>  
    <p>Prefeitura de Santana de Parnaíba</p>
    <a href="{{url_for('sobre')}}">Sobre</a>
    <a href="{{url_for('saudacao', nome='Alexsandra')}}">Saudação</a>
    <a href="{{url_for('dobro',numero='25')}}">Dobro</a>
</body>
</html>